<div class="com">
    <div class="contact">
        <div class="selector uk-animation-slide-left">
            <button style="width: 100%; margin-right: 15px; margin: 10px"
                [ngClass]="{ primary: !isCommunicationClicked }" (click)="onClickChatButton()"
                mat-raised-button>
                Chats
            </button>
            <button style="width: 100%; margin: 10px" mat-raised-button [ngClass]="{ primary: isCommunicationClicked }"
                (click)="onClickCommunicationButton()">
                Communication
            </button>
        </div>
        <div class="employees uk-animation-slide-top">
            <form class="uk-search uk-search-default" style="width: 100%; margin: 0px">
                <span class="uk-search-icon-flip" uk-search-icon></span>
                <input class="uk-search-input" style="border-radius: 20px; margin-bottom: 10px" type="search"
                    placeholder="Search" aria-label="Search" name="searchQuery" [(ngModel)]="searchQuery"
                    (ngModelChange)="filterEmployee(searchQuery)" />
            </form>
            <div class="users">
                <div class="uk-animation-slide-bottom" *ngFor="let item of employees" style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          " (click)="newMessage(item)">
                    <img class="uk-border-circle" style="object-fit: cover;width: 50px;height: 50px;" width="50" height="50" [src]="item.url" alt="Avatar" />
                    <p style="margin-top: 4px">{{ item.name.slice(0, 8) }}..</p>
                </div>
            </div>
        </div>
        <div class="chats uk-animation-slide-bottom" #chats>
            <ul class="uk-grid-small " id="uikitsorteable" style="display: flex;flex-direction: column;"
                uk-sortable="group: sortable-group" uk-grid>
                <li *ngFor="let item of userMessages" (click)="openMessages(item)" [attr.aria-details]="item.id"
                    class="uk-animation-slide-right">
                    <div class="uk-grid-small uk-card uk-flex-middle header" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" style="object-fit: cover;width: 50px;height: 50px;" width="40" height="40" src="{{ item?.url }}" alt="Avatar" />
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom" style="color: white;">
                                {{ item.name }}
                            </h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                                <time datetime="2016-04-01T19:00">April 01, 2016</time>
                            </p>
                        </div>
                        <div>
                            <span uk-icon="chevron-right"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chat  uk-animation-slide-right">
        <div class="content">
            <div class="uk-card-header profile">
                <div class="uk-grid-small uk-flex-middle " uk-grid>
                    <div class="uk-width-auto">
                        <img *ngIf="mainUserMessage!=undefined && !isCommunicationClicked" style="object-fit: cover;width: 50px;height: 50px;" class="uk-border-circle  uk-animation-slide-right" width="40" height="40"
                            src="{{ mainUserMessage.url }}" alt="Avatar" />
                            <img *ngIf="users[0]!=undefined && isCommunicationClicked" style="object-fit: cover;width: 50px;height: 50px;" class="uk-border-circle  uk-animation-slide-right" width="40" height="40"
                            src="../../assets/images/message_icon.png" alt="Avatar" />
                    </div>
                    <div class="uk-width-expand" *ngIf="this.userMessages.length!=0 || isCommunicationClicked">
                        <h3 *ngIf="!isCommunicationClicked" style="color: white !important" class="uk-card-title uk-margin-remove-bottom">
                            {{ mainUserMessage?.name }}
                        </h3>
                        <h3 *ngIf="isCommunicationClicked" style="color: white !important" class="uk-card-title uk-margin-remove-bottom">
                            Communications
                        </h3>
                        <p *ngIf="!isCommunicationClicked" class="uk-text-meta uk-margin-remove-top">
                            <time datetime="2016-04-01T19:00">Role: {{
                                getRoleUser(mainUserMessage?.role)
                                }}</time>
                        </p>
                    </div>
                </div>
            </div>
            <div (dragover)="handleDragOver($event)" (dragenter)="handleDragEnter($event)"
                (dragleave)="handleDragLeave($event)" (drop)="handleDrop($event)" *ngIf="draggingOver"
                class="js-upload uk-placeholder uk-text-center upload">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle">Attach binaries by dropping them here or</span>
                <div uk-form-custom>
                    <input type="file" multiple>
                    <span class="uk-link">selecting one</span>
                </div>
            </div>
            <div *ngIf="!draggingOver && !isCommunicationClicked" class="messages" #messagesContainer (dragenter)="handleDragEnter($event)">
                <div class="scroll-to-bottom" [ngStyle]="{'margin-left': userMessages.length === 0 ? '34%' : '45%'}"
                    (click)="scrollToBottom()">
                    <button style="border-radius: 20px;" [ngStyle]="" mat-raised-button><mat-icon
                            *ngIf="this.userMessages.length!=0">arrow_downward</mat-icon>
                        <p *ngIf="this.userMessages.length==0">Start chatting to see more information</p>
                    </button>
                </div>

                <div class="message"  *ngFor="let item of mainMessage" [ngClass]="{
                    sender: item.senderContactId === me.id,
                    receiver: item.senderContactId !== me.id
                }">
                    <!-- Contenido del mensaje aquí -->
                    <ng-container *ngIf="item.type === TypeFile.Text">
                        <p>{{ item.content }}</p>
                    </ng-container>
                    <ng-container *ngIf="item.type === TypeFile.File">
                        <a style="align-self: center;" [href]="item.content" target="_blank">
                            <img width="150px" height="150px" src="../../assets/images/pdf_icon.png" alt="">
                        </a>
                        <p style="align-self: center;">{{getNameByFirebase(item.content)}}</p>
                    </ng-container>
                    <ng-container *ngIf="item.type === TypeFile.Audio">
                        <audio controls>
                            <source [src]="item.content" type="audio/mp3">
                        </audio>
                    </ng-container>

                    <ng-container *ngIf="item.type === TypeFile.Image">
                        <div uk-grid uk-lightbox="animation: scale">
                            <a class="uk-inline" href={{item.content}} data-caption="">
                                <img width="150px" height="150px" src={{item.content}} alt="">
                            </a>
                        </div>
                    </ng-container>
                    <time>{{ item.sentDate | date: 'dd/MM/yyyy hh:mm' }}</time>

                </div>
            </div>
            <div *ngIf="isCommunicationClicked" class="messages">
                <div class="communication" *ngFor="let item of communication">
                    <span [ngClass]="{'uk-badge': true, 'green_C': item.content.split(';')[0] === '0',
                                    'yellow_C': item.content.split(';')[0] === '1', 'red_C': item.content.split(';')[0] === '2'}" ></span>
                    <div class="contentComm">{{ item.content.split(";")[1]}}</div>
                    <span class="uk-badge time">{{ item.sentDate | date: 'dd/MM/yyyy hh:mm' }}</span>
                </div>
            </div>
            
        </div>
        <div class="uk-margin" style="display: flex">
            <textarea #content multiple="true" class="uk-input custom-border" type="text"
                placeholder="Type your message..." aria-label="Input"></textarea>
            <div class="button-space">
                <mat-form-field *ngIf="isCommunicationClicked" appearance="fill" style="width: 152px;">
                    <mat-label>Seleccionar Priority</mat-label>
                    <mat-select [(value)]="selectedColor">
                        <mat-option  *ngFor="let color of colorOptions" [value]="color">
                            <div style="display: flex;align-items: center;">
                                <span style="
                                margin-right: 10px;
                                width: 15px;
                                height: 15px;
                                display: block;
                                border-radius: 10px;" [ngClass]="{'green_C': color=='Low','yellow_C': color=='Medium','red_C': color=='High'}"></span>
                                {{ color }}
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button (click)="sendMessage(content.value);content.value = ''" mat-mini-fab color="primary"
                    aria-label="Example icon button with a menu icon">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<div #noneS>
    <div #deleteUIKIT id="uikitsorteable2" [ngStyle]="{ 'display': dragUIKITView ? 'block' : 'none' }" mat-fab
        color="warn" aria-label="Example icon button with a home icon" class="button-container"
        [ngClass]="{ 'move': dragUIKIT }" (click)="toggleMove()">
        <mat-icon class="deleteFAB" uk-sortable="group: sortable-group">delete</mat-icon>
    </div>
</div>