<style>
    .contact {
        width: 30%;
    }

    .selector {
        border: 1px solid #5a79ba;
        border-radius: 20px;
        display: flex;
        width: 100%;
    }

    .chat {
        width: 70%;
    }

    .com {
        display: flex;
    }

    .chats {
        border: 1px solid #5a79ba;
        border-radius: 20px;
        width: 100%;
        height: 550px;
        margin-top: 13px;
        overflow-y: scroll;
    }

    .header {
        background-color: #333333;
        margin: 10px;
        border-radius: 20px;
        padding: 10px;
    }

    .chats .uk-card-header .uk-card-title {
        color: white;
    }

    .chat {
        border: 1px solid #5a79ba;
        border-radius: 20px;
        margin-left: 10px;
    }

    .employees {
        border: 1px solid #5a79ba;
        border-radius: 20px;
        height: 150px;
        margin-top: 10px;
        padding: 10px;
    }

    .primary {
        background-color: #5a79ba !important;
        color: white !important;
    }

    .users {
        display: flex;
        overflow-x: auto;
        /* Esto permite el desplazamiento horizontal */
        width: 100%;
    }

    .users>div {
        flex: 0 0 auto;
        /* Esto asegura que los elementos dentro de .users no se ajusten */
        margin-right: 10px;
        /* Espacio entre los elementos */
    }

    .content {
        height: 88%;
    }

    .uk-input.custom-border {
        border-radius: 0 0 0 20px;
        /* Aplica el radio de borde a las esquinas inferiores */
        height: auto;
        border-right: 0;
    }

    .profile {
        height: 7%;
        border-radius: 20px 20px 0 0;
        /* Aplica el radio de borde a las esquinas inferiores */
        background-color: #333333;
        border-right: 0;
    }

    .button-space {
        background-color: white;
        border-radius: 0 0 20px 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .messages {
        padding: 10px;
        overflow-y: auto;
        /* Agrega desplazamiento vertical si los mensajes son demasiado largos */
        display: flex;
        /* Agrega esto para alinear los mensajes */
        flex-direction: column;
        max-height: 572px;
        overflow-y: scroll;
    }

    .message {
        position: relative;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 8px;
        max-width: 70%;
        min-width: 13%;
        display: flex;
        justify-content: center;
        margin-bottom: 34px;
        flex-direction: column;
    }

    .sender {
        background-color: #5a79ba;
        /* Color de fondo para mensajes enviados por el usuario */
        color: white;
        /* Color del texto para mensajes enviados por el usuario */
        align-self: flex-end;
        /* Alinea el mensaje a la derecha */
    }

    .sender::before {
        content: "";
        position: absolute;
        bottom: -10px;
        right: 2px;
        width: 0;
        height: 0;
        border-top: 0px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #5a79ba;
        transform-origin: center;
        transform: rotate(58deg);
    }

    .receiver {
        background-color: #333333;
        /* Color de fondo para mensajes recibidos */
        color: white;
        /* Color del texto para mensajes recibidos */
        align-self: flex-start;
        /* Alinea el mensaje a la izquierda */
    }

    .receiver::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 2px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #333333;
        /* Color de la flecha del mensaje recibido */
        transform-origin: center;
        /* Establece el punto de rotación en el centro */
        transform: rotate(58deg);
    }

    .message p {
        margin: 0;
    }

    .message time {
        color: darkgray;
        font-size: smaller;
        align-self: flex-end;
    }

    .scroll-to-bottom {
        position: absolute;
        margin-left: 45%;
    }

    .upload {
        position: relative;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        margin-bottom: 34px;
        flex-direction: column;
        height: 80%;
        margin: 20px;
        background-color: black;
        opacity: 0.7;
    }

    #drop-area.drag-over {
        border: 2px dashed red;
    }

    .communication {
    background-color: #333333;
    border-radius: 20px;
    width: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Añade espacio interno para el contenido */
    position: relative; /* Para posicionar el badge relativo a este elemento */
    }

    .uk-badge {
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 5px;
        border-radius: 5px;
    }
    .yellow_C {
        background-color: yellow;
    }
    .red_C {
        background-color: red;
    }
    .green_C {
        background-color: green;
    }
    .uk-badge.time {
        position: absolute;
        bottom: 5px;
        right:  5px;
        background-color: dimgray; /* Cambia esto al color deseado */
        padding: 5px;
        border-radius: 5px;
        top: unset;
        left: unset;
    }
    .contentComm {
        flex: 1; /* Ocupa todo el espacio disponible verticalmente */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; /* Alinea el texto al centro */
        color: white; /* Color del texto */
        margin-block: 25px;

    }

</style>

<div class="com">
    <div class="contact">
        <div class="selector uk-animation-slide-left">
            <button style="width: 100%; margin-right: 15px; margin: 10px"
                [ngClass]="{ primary: !isCommunicationClicked }" (click)="onClickChatButton()"
                mat-raised-button>
                Chats
            </button>
            <button style="width: 100%; margin: 10px" mat-raised-button [ngClass]="{ primary: isCommunicationClicked }"
                (click)="onClickCommunicationButton()">
                Communication
            </button>
        </div>
        <div class="employees uk-animation-slide-top">
            <form class="uk-search uk-search-default" style="width: 100%; margin: 0px">
                <span class="uk-search-icon-flip" uk-search-icon></span>
                <input class="uk-search-input" style="border-radius: 20px; margin-bottom: 10px" type="search"
                    placeholder="Search" aria-label="Search" name="searchQuery" [(ngModel)]="searchQuery"
                    (ngModelChange)="filterEmployee(searchQuery)" />
            </form>
            <div class="users">
                <div class="uk-animation-slide-bottom" *ngFor="let item of employees" style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          " (click)="newMessage(item)">
                    <img class="uk-border-circle" width="40" height="40" [src]="item.url" alt="Avatar" />
                    <p style="margin-top: 4px">{{ item.name }}</p>
                </div>
            </div>
        </div>
        <div class="chats uk-animation-slide-bottom" #chats>
            <ul class="uk-grid-small " id="uikitsorteable" style="display: flex;flex-direction: column;"
                uk-sortable="group: sortable-group" uk-grid>
                <li *ngFor="let item of userMessages" (click)="openMessages(item)" [attr.aria-details]="item.id"
                    class="uk-animation-slide-right">
                    <div class="uk-grid-small uk-card uk-flex-middle header" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="{{ item?.url }}" alt="Avatar" />
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom" style="color: white;">
                                {{ item.name }}
                            </h3>
                            <p class="uk-text-meta uk-margin-remove-top">
                                <time datetime="2016-04-01T19:00">April 01, 2016</time>
                            </p>
                        </div>
                        <div>
                            <span uk-icon="chevron-right"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chat  uk-animation-slide-right">
        <div class="content">
            <div class="uk-card-header profile">
                <div class="uk-grid-small uk-flex-middle " uk-grid>
                    <div class="uk-width-auto">
                        <img *ngIf="users[0]!=undefined && !isCommunicationClicked" class="uk-border-circle  uk-animation-slide-right" width="40" height="40"
                            src="{{ users[0].url }}" alt="Avatar" />
                            <img *ngIf="users[0]!=undefined && isCommunicationClicked" class="uk-border-circle  uk-animation-slide-right" width="40" height="40"
                            src="../../assets/images/message_icon.png" alt="Avatar" />
                    </div>
                    <div class="uk-width-expand" *ngIf="this.userMessages.length!=0 || isCommunicationClicked">
                        <h3 *ngIf="!isCommunicationClicked" style="color: white !important" class="uk-card-title uk-margin-remove-bottom">
                            {{ mainUserMessage?.name }}
                        </h3>
                        <h3 *ngIf="isCommunicationClicked" style="color: white !important" class="uk-card-title uk-margin-remove-bottom">
                            Communications
                        </h3>
                        <p *ngIf="!isCommunicationClicked" class="uk-text-meta uk-margin-remove-top">
                            <time datetime="2016-04-01T19:00">Role: {{
                                getRoleUser(mainUserMessage?.role)
                                }}</time>
                        </p>
                    </div>
                </div>
            </div>
            <div (dragover)="handleDragOver($event)" (dragenter)="handleDragEnter($event)"
                (dragleave)="handleDragLeave($event)" (drop)="handleDrop($event)" *ngIf="draggingOver"
                class="js-upload uk-placeholder uk-text-center upload">
                <span uk-icon="icon: cloud-upload"></span>
                <span class="uk-text-middle">Attach binaries by dropping them here or</span>
                <div uk-form-custom>
                    <input type="file" multiple>
                    <span class="uk-link">selecting one</span>
                </div>
            </div>
            <div *ngIf="!draggingOver && !isCommunicationClicked" class="messages" #messagesContainer (dragenter)="handleDragEnter($event)">
                <div class="scroll-to-bottom" [ngStyle]="{'margin-left': userMessages.length === 0 ? '34%' : '45%'}"
                    (click)="scrollToBottom()">
                    <button style="border-radius: 20px;" [ngStyle]="" mat-raised-button><mat-icon
                            *ngIf="this.userMessages.length!=0">arrow_downward</mat-icon>
                        <p *ngIf="this.userMessages.length==0">Start chatting to see more information</p>
                    </button>
                </div>

                <div class="message"  *ngFor="let item of mainMessage" [ngClass]="{
                    sender: item.senderContactId === me.id,
                    receiver: item.senderContactId !== me.id
                }">
                    <!-- Contenido del mensaje aquí -->
                    <ng-container *ngIf="item.type === TypeFile.Text">
                        <p>{{ item.content }}</p>
                    </ng-container>
                    <ng-container *ngIf="item.type === TypeFile.File">
                        <a [href]="item.content" target="_blank">
                            <img width="150px" height="150px" src="../../assets/images/pdf_icon.png" alt="">
                        </a>
                    </ng-container>
                    <ng-container *ngIf="item.type === TypeFile.Audio">
                        <audio controls>
                            <source [src]="item.content" type="audio/mp3">
                        </audio>
                    </ng-container>

                    <ng-container *ngIf="item.type === TypeFile.Image">
                        <div uk-grid uk-lightbox="animation: scale">
                            <a class="uk-inline" href={{item.content}} data-caption="">
                                <img width="150px" height="150px" src={{item.content}} alt="">
                            </a>
                        </div>
                    </ng-container>
                    <time>{{ item.sentDate | date: 'dd/MM/yyyy hh:mm' }}</time>

                </div>
            </div>
            <div *ngIf="isCommunicationClicked" class="messages">
                <div class="communication" *ngFor="let item of communication">
                    <span [ngClass]="{'uk-badge': true, 'green_C': item.content.split(';')[0] === '0',
                                    'yellow_C': item.content.split(';')[0] === '1', 'red_C': item.content.split(';')[0] === '2'}" ></span>
                    <div class="contentComm">{{ item.content.split(";")[1]}}</div>
                    <span class="uk-badge time">{{ item.sentDate | date: 'dd/MM/yyyy hh:mm' }}</span>
                </div>
            </div>
            
        </div>
        <div class="uk-margin" style="display: flex">
            <textarea #content multiple="true" class="uk-input custom-border" type="text"
                placeholder="Type your message..." aria-label="Input"></textarea>
            <div class="button-space">
                <mat-form-field *ngIf="isCommunicationClicked" appearance="fill" style="width: 152px;">
                    <mat-label>Seleccionar Priority</mat-label>
                    <mat-select [(value)]="selectedColor">
                        <mat-option  *ngFor="let color of colorOptions" [value]="color">
                            <div style="display: flex;align-items: center;">
                                <span style="
                                margin-right: 10px;
                                width: 15px;
                                height: 15px;
                                display: block;
                                border-radius: 10px;" [ngClass]="{'green_C': color=='Low','yellow_C': color=='Medium','red_C': color=='High'}"></span>
                                {{ color }}
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button (click)="sendMessage(content.value);content.value = ''" mat-mini-fab color="primary"
                    aria-label="Example icon button with a menu icon">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    .button-container {
        position: absolute;
        bottom: 0%;
        right: 50%;
        transition: bottom 0.8s ease-in-out;
        /* Aplica la transición a la propiedad bottom */
        width: 70px;
        border-radius: 63%;
        height: 70px;
        background-color: red;
        display: none;
    }

    .move {
        bottom: 20%;
        transition: bottom 0.8s ease-in-out;
        /* Aplica la transición a la propiedad bottom */
    }

    .deleteFAB {
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div #noneS>
    <div #deleteUIKIT id="uikitsorteable2" [ngStyle]="{ 'display': dragUIKITView ? 'block' : 'none' }" mat-fab
        color="warn" aria-label="Example icon button with a home icon" class="button-container"
        [ngClass]="{ 'move': dragUIKIT }" (click)="toggleMove()">
        <mat-icon class="deleteFAB" uk-sortable="group: sortable-group">delete</mat-icon>
    </div>
</div>