/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.uk-notification-message{
    background-color: #333333 !important;
    border-radius: 20px;
    border: 1px solid #5a79ba; /* Agrega un borde azul de 2 píxeles */

}