body, html {
    height: 100% !important;
}

li {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: 9px;
}

.uk-card-default {
    background-color: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    border-left: 0 !important;
}
.mat-icon {
    overflow: unset !important;
}

.uk-card-default {

    box-shadow:unset !important;
}