<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span style="border-radius: 20px;" class="mask bg-gradient-danger-mask opacity-8 uk-animation-slide-right"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{me.name}}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. Here, you can manage your account information to ensure it reflects who you are and what you represent.</p>
        <a href="#!" class="btn btn-info">Save profile</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0 uk-animation-slide-bottom">
      <div style="background-color: #333333 !important;" class="card card-profile shadow-pro">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="../../assets/images/user.png" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div style="background-color: #333333 !important;"
          class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div style="background-color: #333333 !important;" class="card-body pt-0 pt-md-4 .uk-animation-slide-right">
          <div class="row">
            <div class="col">
              <div style="background-color: #333333 !important;"
                class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading .uk-animation-slide-right">{{this.company.code}}</span>
                  <span class="description .uk-animation-slide-right">Code</span>
                </div>
                <div>
                  <span class="heading .uk-animation-slide-right">{{users.length}}</span>
                  <span class="description .uk-animation-slide-right">Employees</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center .uk-animation-slide-right">
            <h3 style="color: #666666;">
              Name: {{me.name}}<span class="font-weight-light">, 27</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Name: {{me.name}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Email: {{me.email}}
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>Role: {{getRole(me.role)}}
            </div>
            <hr class="my-4" />
            <p>Company: {{this.company.name}}, {{this.company.location}}</p>
            <a href="javascript:void(0)">Show more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1 uk-animation-slide-bottom">
      <div style="background-color: #333333 !important;" class="card bg-secondary shadow-pro">
        <div style="background-color: #333333 !important;" class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 style="color: white;" class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div>
          </div>
        </div>
        <div style="background-color: #333333 !important;" class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative"
                      placeholder="Username" value={{me.name}}>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative"
                      placeholder={{me.email}}>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Role:</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"
                      placeholder="First name" value={{getRole(me.role)}}>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Phone: </label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" value={{me.phone}}>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Company information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address"
                      value={{company.location}} type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">Name</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City"
                      value={{company.name}}>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Director</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                      placeholder="Country" value={{company.director}}>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Company code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative"
                      placeholder={{company.code}}>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About {{company.name}}</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About {{company.name}}</label>
                <textarea rows="4" class="form-control form-control-alternative"
                  placeholder="A few words..."></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>