<nav class="uk-navbar-container" style="background-color: #222222">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left uk-animation-slide-left"
                style="-webkit-animation-duration: 3.5s;animation-duration: 3.5s;">
                <div class="navbar-content">
                    <div style="display: flex;justify-content: center;margin-left: 20px;">
                        <div class="uk-navbar-item">
                            <H2 style="color: white;">QRStockMate</H2>
                        </div>
                    </div>
                </div>

            </div>

            <div class="uk-navbar-right uk-animation-slide-right "
                style="-webkit-animation-duration: 3.5s;animation-duration: 3.5s;">
                <form class="uk-search uk-search-default">
                    <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                    <input class="uk-search-input" type="search" placeholder="Search" aria-label="Search">
                </form>
                <a href="#" uk-icon="icon: bell"></a>
                <div class="uk-width-auto">
                    <img class="uk-comment-avatar"
                        src="https://i.pinimg.com/236x/a3/78/a1/a378a1db0cf65d7409e349742a5051ef.jpg" width="80"
                        height="80" alt="">
                </div>
            </div>
        </div>
    </div>
</nav>